{% extends 'products/base.html'%}
{% load static %}

 {% block css %}
    <link rel="stylesheet" href="{%static '/vendor/css/main.css'%}">
 {% endblock %}



 {% block content %}
    <div >
            <header class="header">
                <div class="header__boxH1">
                    <img class="image-logo" src="{%static 'vendor/img/icon/logo.png'%}" alt="Логотип Volsi">
                    <h1 class="title-first">Магазин детских товаров</h1>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index'%}">
                            Начать покупки
                        </a>
                    </button>
                </div>

            </header>
            <div class="moduls">

            </div>
        </div>
 {% endblock %}



